appdirs==1.4.2
chardet==2.3.0
numpy==1.12.1
packaging==16.8
pandas==0.19.2
pdb==0.1
pdfminer2==20151206
pymining==0.2
pyparsing==2.2.0
python-dateutil==2.6.0
python-gnupg==0.4.0
pytz==2017.2
PyYAML==3.12
six==1.10.0
stemming==1.0.1
nltk==3.2.2
